{{ include "common.storage.hostPathValidate" .Values }}
apiVersion: {{ template "common.capabilities.deployment.apiVersion" . }}
kind: Deployment
metadata:
  name: {{ template "common.names.fullname" . }}
  labels:
    app: {{ template "common.names.name" . }}
    chart: {{ template "common.names.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    rollme: {{ randAlphaNum 5 | quote }}
spec:
  replicas: {{ (default 1 .Values.replicas) }}
  strategy:
    type: "Recreate"
  selector:
    matchLabels:
      app: {{ template "common.names.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      name: {{ template "common.names.fullname" . }}
      labels:
        app: {{ template "common.names.name" . }}
        release: {{ .Release.Name }}
        {{- include "common.labels.selectorLabels" . | nindent 8 }}
      annotations: {{ include "common.annotations" . | nindent 8 }}
    spec:
      hostNetwork: false
      hostAliases:
      {{ range $index, $extraHostsConfiguration := .Values.extraHosts }}
      - ip: {{ $extraHostsConfiguration.ip }}
        hostnames: 
        - {{ $extraHostsConfiguration.hostname }}
      {{ end }}
      containers:
        - name: {{ .Chart.Name }}
          {{ include "common.resources.limitation" . | nindent 10 }}
          {{ include "common.containers.imageConfig" .Values.image | nindent 10 }}
          volumeMounts: {{ include "common.storage.configureAppVolumeMountsInContainer" .Values | nindent 12 }}
          {{ range $index, $hostPathConfiguration := .Values.extraAppVolumeMounts }}
            - name: extrappvolume-{{ $index }}
              mountPath: {{ $hostPathConfiguration.mountPath }}
          {{ end }}
          ports:
            - name: web
              containerPort: 3000
          env:
            {{ $envList := (default list .Values.environmentVariables) }}
            {{ $envList = mustAppend $envList (dict "name" "PUID" "value" (printf "%d" (.Values.ownerUID | int))) }}
            {{ $envList = mustAppend $envList (dict "name" "PGID" "value" (printf "%d" (.Values.ownerGID | int))) }}
            {{ $envList = mustAppend $envList (dict "name" "MOVIEPILOT_AUTO_UPDATE" "value" .Values.autoupdate.enabled) }}    
            {{ $envList = mustAppend $envList (dict "name" "SUPERUSER" "value" .Values.superUser) }}              
            {{ $envList = mustAppend $envList (dict "name" "SUPERUSER_PASSWORD" "value" .Values.superUser_password) }}              
            {{ $envList = mustAppend $envList (dict "name" "COOKIECLOUD_HOST" "value" .Values.cookieCloud_host) }}              
            {{ $envList = mustAppend $envList (dict "name" "COOKIECLOUD_KEY" "value" .Values.cookieCloud_key) }}              
            {{ $envList = mustAppend $envList (dict "name" "COOKIECLOUD_PASSWORD" "value" .Values.cookieCloud_password) }}              
            {{ $envList = mustAppend $envList (dict "name" "COOKIECLOUD_INTERVAL" "value" .Values.cookieCloud_interval) }}              
            {{ $envList = mustAppend $envList (dict "name" "TRANSFER_TYPE" "value" .Values.transfer_type) }}              
          
            {{- range $key, $val := .Values.auth_env }}
            {{ $envList = mustAppend $envList (dict "name" $key "value" $val) }}              
            {{ end -}}

            {{- range $key, $val := .Values.downloader_env }}
            {{ $envList = mustAppend $envList (dict "name" $key "value" $val) }}              
            {{ end -}}
            {{ include "common.containers.environmentVariables" (dict "environmentVariables" $envList) | nindent 12 }}
{{ include "common.networking.dnsConfiguration" .Values | nindent 6 }}
      volumes: {{ include "common.storage.configureAppVolumes" .Values | nindent 8 }}
      {{ range $index, $hostPathConfiguration := .Values.extraAppVolumeMounts }}
        - name: extrappvolume-{{ $index }}
          hostPath:
            path: {{ $hostPathConfiguration.hostPath }}
      {{ end }}
